.container-info{
    border: 1px solid orange;
    border-radius: 30px;
    margin: 5%;
}
.container-info2{
    border: 1px solid orange;
    border-radius: 30px;
}
div.box{
    border: 1px solid gray;
    border-radius: 30px;
    margin: 5%;
}
div.photo-profile-block {
    position: sticky;
    width: 240px;
    height: 240px;
    overflow: hidden;
    border-radius: 50%;
    
}
img.photo-image-profile{
    margin-left: -104px;
    margin-top: -124px;
}
#escala{
    transform: scale(0.30);
}
#bocComent{
    margin-top: 3%;
    margin-left: -75%;
}
#bocComent2{
    margin-top: 5%;
    margin-left: -74%;
}
.container-comment{
    width: auto;
    height: auto;
}
#logo{
    margin: -28%;
    margin-left: -104%;    
}
.container-comment{
    border: 1px solid orange;
    border-radius: 30px;
}
.respond{
    margin-left: -220%;
    color: royalblue;
}
.usur{
    margin-left: -288%;
    margin-top: -5%;
    color:black;
}
#fecha{
    margin-left: -252%;
    margin-top: -5%;
    color: gray;
}
.form-puntuacion{
    margin: 2%;
}
